/*nav_bar*/
.menu-top {
    background-color: #36BA98;
}

.top-buttons:link,
.top-buttons:visited {
 text-transform: uppercase;
 text-decoration: none;
 color: rgb(27, 27, 27);
 padding: 10px 30px;
 border: 1px solid;
 border-radius: 1000px;
 display: inline-block;
 transition: all .2s;
 position: relative;
}

.top-buttons:hover {
 transform: translateY(-5px);
 box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.top-buttons:active {
 transform: translateY(-3px);
}

.top-buttons::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 transition: all .3s;
}

.top-buttons:hover::after {
 background-color: rgb(0, 238, 255);
 transform: scaleX(1.4) scaleY(1.5);
 opacity: 0;
}
body {
    background-color: #E9C46A;
}
.posts-home {
    background-color: #E76F51;
}
.comments {
    background-color: #E76F51;
}
a {
    text-decoration: none;
}
.posts-links {
    color: black;
    text-decoration: none;
}
.posts-links:hover {
    color: #E9C46A;
    text-decoration: none;
}
.search-button {
    background-color: #E76F51;
}
.search-button:hover {
    background-color: #36BA98;
}
/*user area*/
.posts-private {
    background-color: #E76F51;
}
.newpost-buttons:link,
.newpost-buttons:visited {
 text-transform: uppercase;
 text-decoration: none;
 color: rgb(27, 27, 27);
 padding: 10px 30px;
 border: 1px solid;
 border-radius: 1000px;
 display: inline-block;
 transition: all .2s;
 position: relative;
 width: 300px;
 background-color: #36BA98;
}

.newpost-buttons:hover {
 transform: translateY(-5px);
 box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.newpost-buttons:active {
 transform: translateY(-3px);
}

.newpost-buttons::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 transition: all .3s;
}

.newpost-buttons:hover::after {
 background-color: rgb(0, 238, 255);
 transform: scaleX(1.4) scaleY(1.5);
 opacity: 0;
}