<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Post</title>
</head>
<body>
    <h1>Nuevo Post</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}
        </p>
        <p>
            {{ form.content.label }}<br>
            {{ form.content(cols=32, rows=4) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
