<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="menu-top navbar navbar-expand-lg  fixed-top">
        <a class="top-buttons  btn navbar-brand" role="button" href="{{ url_for('main.home') }}">Mi Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="top-buttons  btn navbar-brand" role="button" href="{{ url_for('main.signup') }}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="top-buttons  btn navbar-brand" role="button" href="{{ url_for('main.login') }}">Login</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="top-buttons  btn navbar-brand" role="button" href="{{ url_for('main.user_area') }}">Private</a>
                </li>
                <li class="nav-item">
                    <form action="{{ url_for('main.logout') }}" method="POST">
                        {{ logout_form.hidden_tag() }}
                        <button class="top-buttons  btn navbar-brand" role="button" type="submit">Logout</button>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container" style="margin-top: 80px;">
        <h1>New Post</h1>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {{ form.title(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {{ form.content(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.keywords.label(class="form-control-label") }}
                {{ form.keywords(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.image.label(class="form-control-label") }}
                {{ form.image(class="form-control-file") }}
            </div>
            <button type="submit" class="btn btn-primary">Create Post</button>
        </form>
    </div>
</body>
</html>
